@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import "reset.scss";
@import "vars.scss";
@import "templates.scss";

// Basic styles start
[class*="__container"] {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $laptop) {
    max-width: 970px;
  }

  @media screen and (max-width: $tablet) {
    max-width: 750px;
  }

  @media screen and (max-width: $mobile) {
    max-width: 540px;
    padding: 0 30px;
  }
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 7px -4px $neutral-blue;

  &__red {
    background-color: $primary-red;
    color: #fff;
    padding: 10px 35px;
  }

  &__opc {
    width: 100%;
    box-shadow: none;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
  }

  &__blue {
    background-color: $primary-blue;
    color: #fff;
    transition: 0.3s all;
    border: 2px solid transparent;

    &:hover {
      background: #fff;
      color: $primary-blue;
      border-color: $primary-blue;
    }
  }

  &__gray {
    background: hsl(232deg 8% 80%);
    transition: 0.3s all;
    color: $neutral-dark-blue;
    border: 2px solid transparent;

    &:hover {
      background: #fff;
      color: $neutral-dark-blue;
      border-color: $neutral-dark-blue;
    }
  }
}

svg {
  pointer-events: none;
}

.sections__titles {
  max-width: 545px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: 32px;
  }

  p {
    line-height: 28px;
    margin: 25px 0 35px 0;
    color: $neutral-blue;
  }
}

// Basic styles end

// Header styles start
.header {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;

  &__container {
    @extend %space-between;
    min-height: 150px;

    @media screen and (max-width: $mobile) {
      min-height: 100px;
    }
  }

  &__menu {
    @extend %flex-center;

    &--nav {
      li {
        display: inline-block;
        margin-right: 45px;

        @media screen and (max-width: $tablet) {
          margin-right: 25px;
        }

        a {
          color: $neutral-dark-blue;
          transition: 0.3s all;

          &:hover {
            color: $primary-red;
          }
        }
      }
    }
    .btn {
      border: 2px solid transparent;
      transition: 0.3s all;
      &:hover {
        background-color: #fff;
        border: 2px solid $primary-red;
        color: $primary-red;
      }
    }
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  .mobile__menu--btn {
    display: none;

    @media screen and (max-width: $mobile) {
      display: block;
    }
  }

  .mobile__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: $neutral-dark-blue-opc;
    padding: 35px 30px;
    transition: 0.5s all;
    z-index: 999;

    &.opened {
      left: 0;
    }

    &--header {
      @extend %flex-center;
      margin-bottom: 30px;
    }

    &--nav {
      text-align: center;

      nav {
        margin-bottom: 25px;
      }

      li {
        a {
          width: 100%;
          padding: 20px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          color: #fff;
          font-weight: 400;
          
        }

        &:last-child a {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
    }

    .btn {
      margin-bottom: 15px;
    }

    &--footer {
      display: flex;
      align-items: end;
      flex: 1 0 auto;
      align-self: center;

      a:first-child {
        margin-right: 40px;
      }
    }
  }
}

// Header styles end

// Bookmark manager section
@import "./sections/bookmark-manager.scss";

// Features section
@import "./sections/features.scss";

// Extension section
@import "./sections/extension.scss";

// FAQ section
@import "./sections/faq.scss";

// Contact us section
@import "./sections/contact-us.scss";

// Footer

.footer {
  background-color: $neutral-dark-blue;

  &__container {
    @extend %space-between;
    min-height: 90px;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__logo {
    margin-right: 60px;

    @media screen and (max-width: $mobile) {
      margin-right: 0;
    }
  }

  &__menu {
    @extend %space-between;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__menu--nav {
    li {
      display: inline-block;
      margin-right: 40px;

      a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        transition: .3s all;

        &:hover {
          color: $primary-red;
        }
      }

      @media screen and (max-width: $mobile) {
        display: block;
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width: $mobile) {
      margin: 35px 0;
    }
  }

  &__social {
    li {
      display: inline-block;

      &:first-child {
        margin-right: 35px;
      }

      a {
        svg{
          transition: .3s all;
          color: #fff;
        }

        &:hover svg{
          color: $primary-red;
        }
      }
      
    }
  }

  svg {
    vertical-align: middle;
  }

  @media screen and (max-width: $mobile) {
    padding: 25px 0;
    text-align: center;
  }
}
