%flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%shape {
  content: "";
  display: block;
  width: 768px;
  height: 350px;
  background: hsl(231deg, 69%, 60%);
  border-radius: 225px;
  position: absolute;
  z-index: -1;

  @media screen and (max-width: $laptop) {
    height: 250px;
  }

  @media screen and (max-width: $tablet) {
    width: 680px;
    height: 200px;
  }

  @media screen and (max-width: $mobile) {
    height: 265px;
  }

  @media screen and (max-width: 576px) {
    height: 205px;
  }

  @media screen and (max-width: $min-mobile) {
    height: 160px;
  }

  @media screen and (max-width: 360px) {
    height: 130px;
  }
}
