// Primary colors
$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);

// Neutral colors
$neutral-blue: hsl(229, 8%, 60%);
$neutral-dark-blue: hsl(229, 31%, 21%);
$neutral-dark-blue-opc: hsla(229, 31%, 21%, 95);

// screen sizes
$laptop: 1200px;
$tablet: 992px;
$mobile: 768px;
$min-mobile: 375px;